<table width="100%">
	<tr>
		<td width="150px">
			<div style="height:40px; width:143px;background-repeat: no-repeat;
			background-image:url(/logo.svg);"></div>		
		</td>
		<td>
			<h1>Hello Heroku!</h1>
		</td>
	</tr>
</table>



